body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}
.header {
  height: 52px;
  width: 100%;
  position: relative;
  top: 0;
  margin: 0px;
  background-color: rgb(210, 207, 207);
}
.header p1 {
  padding-left: 6.5%;
}
.header p1,
p2,
p3 {
  margin-top: 15px;
}
.header p3 {
  margin-right: 6.5%;
}
.headerIconsLeft {
  float: left;
  margin-top: 14px;
  margin-left: 5px;
}
.headerIconsRight {
  margin-top: 16px;
  margin-right: 5px;
}
.navBar {
  margin-left: 6.5%;
  background-color: white;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
  color: black;
  margin-right: 51px;
}
.navBar img {
  margin: auto;
  height: 40px;
}
.navBar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 118px;
}
.navBar ul li {
  margin: 20px 20px 5px 20px;
  font-weight: 120px;
  text-decoration: none;
  font-size: 14px;
  float: right;
}
.navBar ul li a {
  text-decoration: none;
  color: black;
}
.navBar ul li a:active {
  color: red;
}
.navBar ul li a:hover {
  color: red;
}
.middle img {
  width: 87%;
  margin-left: 6.5%;
  margin-top: 100px;
}
.middle {
  margin-top: 30px;
}
.imgText {
  position: absolute;
  bottom: 110px;
  left: 150px;
  color: rgb(0, 0, 0);
}
.imgText p4 {
  font-weight: 1000;
  font-size: 35px;
}
.imgText p5 {
  font-weight: 500;
  font-size: 15px;
}
.button1 {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 243px;
}
.imgTextAlign {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.imgTextAlign a {
  margin-top: 13px;
  color: black;
}
input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing:border-box;
  size: 80;
  border:1px solid black;
  border-radius: 1px;
}
select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing:border-box;
  size: 80;
  border:1px solid black;
  border-radius: 1px;
  background-color: white;
  border-radius: 5px;
}
.white-box {
  position: absolute;
  margin-left: 200px;
  margin-right: 200px;
  top: 600px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.white-box span {
  font-weight: bold;
  font-size: larger;
  margin-left: 10px;
}
.float {
  /* position: absolute;
  margin-left: 250px;
  margin-right: 250px;
  top:600px;
  background-color: white;
  border-radius: 5px;
padding-left:100px;padding-right: 100px; */
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
.upFloat {
  flex-direction: row;
}

.downFloat {
  flex-direction: row;
  margin-left: 10px;
}
.appointmentForm {
  border-radius: 5px;
}
/* .departmentWrap{
  display: flex;
  background-color: black;
}
.departmentWrap span {
  position: absolute;
  top: 1000px;

}
.Departments {
  display: flex;
  overflow-x: scroll;
  margin-top:100px;
} */
.departmentsWrap {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 90px;
}
.Departments {
  display: flex;
  overflow-x: scroll;
  margin-top: 50px;
  justify-content: space-between;
}
.departmentsWrap span {
  font-weight: 900;
  font-size: 40px;
  font-family: Inter;
}
.departmentItems {
  padding: 10px;
}
.whygg {
  background-color: #e8f9f6;
  margin-left: 80px;
  margin-right: 77px;
  margin-top: 50px;
  position: relative;
  display: flex;
}
.whyggLeft {
  flex: 1;
}
.whyggLeftDoctor {
  position: absolute;
  margin-top: 45px;
}
.whyggPattern {
  position: absolute;
}
.whyggRight {
  flex: 1;
  margin-left: 50px;
}
.whyggRight ul {
  list-style-image: url("img/icon_y_gg.jpg");
  margin-left: 50px;
  margin-top: 170px;
}
.whyggRight li {
  padding: 10px;
}

.whyggRight span {
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
  font-weight: 900;
  font-size: 30px;
  font-family: Inter;
}
.specialist {
  margin-top: 100px;
}
.specialistHead {
  text-align: center;
}
.specialistHead span {
  font-weight: 900;
  font-size: 30px;
  font-family: Inter;
}
.specialistImg {
  display: flex;
  margin-left: 70px;
}
.specialistItem {
  padding: 15px;
}
.button2 {
  background-color: #17c1a3;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  margin-left: 550px;
}
.facilities {
  margin-top: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  font-family: Inter;
}
.facilitiesBody {
  display: flex;
  margin-top: 50px;
  margin-left: 65px;
  margin-right: 65px;
}
.facilitiesItems {
  padding: 2px;
}
.interests {
  margin-top: 50px;
  position: relative;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  font-family: Inter;
}
.interestsBody {
  display: flex;
  margin-top: 50px;
  margin-left: 65px;
  margin-right: 65px;
}
.interests h3 {
  margin-top: 50px;
  text-align: left;
  margin-left: 18px;
  font-weight: 900;
  font-size: 20px;
  font-family: Inter;
}
.interests p {
  margin-top: 50px;
  text-align: left;
  margin-left: 18px;
  font-weight: 500;
  font-size: 15px;
  font-family: Inter;
}
.interests a {
  color: green;
}
.newsletter {
  background-color: #eaf2ff;
  padding: 100px;
  margin-top: -250px;
  height: 400px;
  position: relative;
  z-index: -1;
}
.subscribe {
  background-color: white;
  display: flex;
  height: 177px;
  margin-top: 250px;
}
.subscribeLeft {
  flex: 1;
}
.subscribeLeft p {
  position: absolute;
  margin-top: 70px;
  margin-left: 70px;
  font-weight: 900;
  font-size: 17px;
  font-family: Inter;
}
#email {
  border: none;
  margin-top: 60px;
  width: 200px;
  height: 5px;
  margin-right: 300px;
}
.button3 {
  position: absolute;
  background-color: #17c1a3;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  margin-top: -20px;
  margin-left: 200px;
}
.subscribeRight hr {
  width: 290px;
  margin-top: px;
  margin-left: 10px;
}
.footerTop {
  display: flex;
}
.footerTopLeft {
  flex: 1;
}
.footerTopMid {
  flex: 1;
  margin-left: 100px;
}
.footerTopRight {
  flex: 1;
  margin-left: 60px;
}
.footerTopRight a {
  text-decoration: none;
  color: black;
}
.footerTopMid a {
  text-decoration: none;
  color: black;
}
.footerTopMidAboutContent {
  display: grid;
  grid-template-columns: auto auto;
}
.footerTopRightAboutContent {
  display: grid;
  grid-template-columns: auto auto;
}
.footerBottom {
  display: flex;
}
.footerBottomText {
  display: flex;
  flex: 2;
  margin-top: 30px;
}
.footerBottomSocial {
  flex: 1;
}
.footer {
  margin-left: 80px;
  margin-right: 80px;
  font-weight: 100;
  font-size: 10px;
  font-family: Inter;
}
.footerBottomTextLeft {
  flex: 1;
  
}
.footerBottomTextMid {
  flex: 1;
  margin-left: 80px;
}
.footerBottomTextRight {
  flex: 1;
}
.footerBottomText p {
  margin-left: 20px;
  margin-top: -15px;
}
.footerBottomSocial{
  font-weight:900;
  font-size: 15px;
  font-family: Inter;
  margin-left: 50px;
}
.trademark{
  font-weight:50;
  font-size: 10px;
  font-family: Inter;
  text-align: center;
}